body {
	font-family: 'Share Tech Mono', monospace;
	background: #81fbad url(../img/overlay.png);
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

.bold {
	background-color: rgba(50, 50, 50, 0.45);
}

.upper {
	text-transform: uppercase;
}

#title {
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 12vh;
	font-family: 'Source Sans Pro', sans-serif;
}

#title h1 {
	margin: 0;
	margin-bottom: 0.5vw;
	font-size: 6.5vw;
	font-weight: 900;
	line-height: 6.5vw;
}

#title h2 {
	font-size: 1.3vw;
	letter-spacing: 2.4px;
	width: 60vw;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
}

#rules {
	width: 60vw;
	margin: 0 auto;
	margin-top: 2.5vw;
	font-size: 1.18vw;
	padding-top: 3vw;
	margin-bottom: 100px;
	text-align: justify;
	border-top: 1px #fff solid;
}

.frame {
	padding: 18px 24px 20px 24px;
	margin-bottom: 2px;
	background-color:rgba(50, 50, 50, 0.2);
}

.row {
	width: 100%;
	display: inline-flex;
	margin-bottom: 2px;
	background-color:rgba(50, 50, 50, 0.3);
}

.cell {
	width: calc(33.333% - 28px); /*28px é referente ao padding-left + padding-right*/
	padding: 10px 14px;
	font-size: 1.15vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:rgba(50, 50, 50, 0.04);
}

.left {
	background-color:rgba(50, 50, 50, 0.25);
}

.header {
	padding: 10px 14px;
	font-size: 1.25vw;
	background-color:rgba(50, 50, 50, 0.45);
}

.last {
	margin-bottom: 35px;
}

.machineButton {
	width: calc(25% - 28px	);
	padding: 10px 14px;
	font-size: 1.25	vw;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	background-color: rgba(50, 50, 50, 0.08);
}

.selected {
	background-color:rgba(50, 50, 50, 0.2);
}

#observation {
	font-size: 1.18vw;
}

@media screen and (max-aspect-ratio: 9/10) {
	#title {
		margin-top: 10vw;
	}

	#title h1 {
		font-size: 8.8vw;
		letter-spacing: 1px;
		margin-bottom: 3vw;
	}

	#title h2 {
		letter-spacing: 1.2px;
		width: 82vw;
		font-size: 3vw;
	}

	#rules {
		width: 82vw;
		font-size: 3vw;
		line-height: 3.6vw;
		margin-bottom: 10vw;
		margin-top: 3.5vw;
		padding-top: 4vw;
	}

	.frame {
		padding: 8px;
		margin-bottom: 1px;
	}

	.header {
		font-size: 3vw;
		padding: 4px 8px;
	}

	.last {
		margin-bottom: 14px;
	}

	.machineButton {
		padding: 5px;
		font-size: 2.2vw;
		width: calc(25% - 10px);
	}

	.cell {
		font-size: 2.2vw;
	}

	#observation {
		font-size: 2.7vw;
	}
}
