body {
	background: #81fbad url(../img/overlay.png);
	color: #fff;
}

#title {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 12vh;

}

#title h1 {
	margin: 0;
	margin-bottom: 0.5vw;
	font-size: 6.5vw;
	line-height: 6.5vw;
}

#title h2 {
	font-size: 1.4vw;
	letter-spacing: 2.4px;
	width: 60vw;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 2.5vw;
	font-weight: 400;

}

#description {
	width: 60vw;
	text-align: justify;
	margin: 0 auto;
	border-bottom: 1px #efefef solid;
	padding-bottom: 30px;
	font-family: 'Share Tech Mono', monospace;
    font-size: 1.2vw;
}